@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/play-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/play-v19-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../font/roboto-v30-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../font/roboto-v30-latin-700.woff2") format("woff2");
}

:root {
  --color-brand: #2b7fff;
  --black-color-blue: #011c44;
  --white-color-site: #ffffff;
}

h1 {
  color: var(--color-brand);
  font-family: "Play", sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 114px;
}

h2 {
  color: var(--black-color-blue);
  font-weight: 700;
  font-family: "Play", sans-serif;
  font-size: 64px;
  line-height: 1.15;
  text-align: center;
}

.head-second-part {
  color: var(--color-brand);
  font-family: "Play", sans-serif;
}

.logo {
  font-family: "Play";
  font-weight: 700;
  font-size: 24px;
  line-height: 21px;
  color: var(--color-brand);
  text-decoration: none;
}

body {
  color: var(--black-color-blue);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.72;
}

ul {
  list-style-type: none;
}

.head-list {
  font-size: 18px;
  line-height: 21.09px;
  color: var(--black-color-blue);
  text-decoration: none;
}

.footter-list {
  color: var(--white-color-site);
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.footter-list:hover {
  color: var(--color-brand);
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
}

.head-list:hover {
  color: var(--color-brand);
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
}

.type-company {
  font-size: 18px;
  line-height: 21.09px;
  font-weight: 400;
}

.company {
  font-weight: 600;
}

.phone-ad {
  color: #4a4a4a;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}
.button {
  color: var(--white-color-site);
  background-color: var(--color-brand);
  width: Hug (219px);
  height: Hug (53px);
  border-radius: 32px;
  display: flex;
  align-items: flex-start;
  top: 20px;
  left: 20px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  border: 2px;
  border-color: var(--color-brand);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.15;
  /*
width: Hug (219px)
height: Hug (53px)
top: 20px
left: 20px
padding: 16px, 32px, 16px, 32px
border-radius: 32px
gap: 10px
*/
}

.button:hover {
  background-color: #fff;
  color: var(--black-color-blue);
  border-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 32px;
}

.procedure {
  color: var(--white-color-site);
}

.foottter {
  background-color: var(--black-color-blue);
}

.advantages {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
